

<div class="container-fluid">
  <h2>Projects</h2>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">New</button>
  </form>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Is Active</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of projectList">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td><span class="badge rounded-pill text-bg-success" *ngIf="item.isActive; else inactiveTemp">Yes</span><ng-template #inactiveTemp><span class="badge rounded-pill text-bg-danger">No</span></ng-template></td>
          <td>
              <div class="d-grid gap-2 d-md-block">
                  <button type="button" class="btn btn-outline-info" (click)="editProject(item.id)" >Edit</button> 
                  <button type="button" class="btn btn-outline-danger" (click)="disable(item.id)">Disable</button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new Project</h5>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="add()" #addForm="ngForm">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" [(ngModel)]="projectModel.name" />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Add</button>
        </form>

      </div>
    </div>
  </div>
</div>