<!-- <div class="app-header">
    <div class="app-header__content">
        <div class="app-header-left">

        </div>
        <div class="app-header-right">
            <button class="btn btn-success" (click)="logOut()">Cerrar Sesión</button>
        </div>

    </div>

</div> -->

<!-- 
<header class="navbar px-4app-header">
    <a class="navbar-brand" href="#">Mi Dashboard</a>

    <div class="app-header-right">
        <button class="btn btn-outline-light" (click)="logOut()">Cerrar Sesión 2</button>
    </div>
</header> -->


<!-- VERSION 2 -->

<!-- <header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">


      <a class="navbar-brand fw-bold text-primary" href="#">
        Task Manager<span class="text-dark">UI</span>
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        


        <ul class="navbar-nav ms-auto align-items-center">


          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown">
              <img src="https://i.pravatar.cc/40" class="rounded-circle me-2" width="40" height="40">
              <div class="d-none d-lg-block">
                <div class="fw-semibold">John Doe</div>
                <small class="text-muted">Senior Developer</small>
              </div>
            </a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header> -->

<header class="navbar navbar-dark sticky-top bg-light bg-gradient flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-dark" href="#">Management</a>

  <!-- <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div> -->
  <div class="navbar-nav">
    <div class="nav-item ">
      <a class="nav-link px-3 text-dark" href="#" (click)="logOut()"><b>Sign out</b></a>
    </div>
  </div>
</header>